.front-btn{
    color: #fff;
    background-color: rgba(64, 54, 182, 0.9);
    border-color: rgba(64, 54, 182, 0.9);
}
.front-btn:hover{
    color: rgb(224, 216, 216);
    background-color: rgba(44, 35, 141, 0.9);
    border-color: rgba(44, 35, 141, 0.9);
}
.post_box{
    video {
        height: auto;
        width: 99%;
    }
    img{
        height: auto;
        width: 99%;
    }
    iframe{
        height: auto;
        width: 99%;
    }
}

#productModal{
    z-index: 99999999;
}
#courseModal{
    z-index: 99999999;
}

.head-text{
    color: rgba(46, 34, 176, 0.9);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom: 40px;
}
.monthly-package{
    margin-bottom: 50px;
    .monthly-card{
        position: relative;
        min-height: 800px!important;
        color: #fff;
        background-color: rgb(29, 28, 28);
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }
        .card-title{
            color:rgba(90, 75, 255, 0.9);
        }
        a.product_button{
            width: 70%;
            display: inline-block;
            text-align: center;
            border-radius: 29px;
            padding: 20px 0;
            color: #fff;
            text-decoration: none;
            letter-spacing: 2px;
            transition: 0.5s;
            box-shadow: 0px 0px 14px -7px #44215b;
            background-image: linear-gradient(90deg, rgb(72, 68, 207) 0%, rgb(57, 59, 187) 54%, rgb(62, 56, 122) 100%);
            border: 1px solid rgb(72, 68, 207);
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            position: absolute;
            bottom: 6%;
            left: 15%;
            &:hover {
                background: #fff;
                background-position: right center;
                color: #000;
                border: 1px solid #000;
                box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            }
        }
        .price_product{
            position: absolute;
            bottom: 15%;
            left: 30%;
        }
    }
    img{
        height: 240px;
    }
}
.foot{
    h4{
        position: absolute;
        bottom: 7%;
        left: 30%
    }
    button{
        position: absolute;
        bottom: 1%;
        left: 40%
    }
}

.post_box{
    min-height: 580px;
    position: relative;
    .button{
        position: absolute;
        bottom: 6%;
        left: 30%;
    }
    .entry-des{
        min-height: 215px;
    }
}

.blog-zerogrid{
    width: 1000px !important;
}

.courseRequest {
    .card {
        padding: 50px;
        background-image: linear-gradient(45deg, #120a17 0%, #3e3d3f  51%, #1d0f35  100%);
        color: #fff;
        border: 2px solid rgba(27, 26, 26, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 25px;
        min-height: 550px;
        position: relative;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }
    }

    .card_title {
        font-weight: bold;
        color:rgba(90, 75, 255, 0.9);
        font-size: 20px;
        margin-bottom: 20px;
    }

    .pricing {
        font-weight: normal;
        font-size: 30px;
    }

    .pricing .small {
        font-size: 16px;
    }

    hr {
        position: absolute;
        height: 2px;
        width: 70%;
        top: 30%;
        left: 15%;
    }

    .features {
        position: absolute;
        top: 40%;
        left: 10%;
        list-style-position: inside;
    }

    .features li {
        padding-bottom: 10px;
        color: #fff;
    }

    a.cta_btn {
        width: 70%;
        display: inline-block;
        text-align: center;
        border-radius: 29px;
        padding: 20px 0;
        color: #fff;
        text-decoration: none;
        letter-spacing: 2px;
        transition: 0.5s;
        box-shadow: 0px 0px 14px -7px #44215b;
	    background-image: linear-gradient(90deg, rgb(72, 68, 207) 0%, rgb(57, 59, 187) 54%, rgb(62, 56, 122) 100%);
        border: 1px solid rgb(72, 68, 207);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        position: absolute;
        bottom: 6%;
        left: 15%;
        &:hover {
            background: #fff;
            background-position: right center;
            color: #000;
            border: 1px solid #000;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }
    }
    // .link {
    //     position: fixed;
    //     background-color: #D12322;
    //     padding: 23px 40px;
    //     right: -99px;
    //     border-radius: 5px;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     transform: rotate(-90deg);
    //     font-size: 18px;
    //     font-weight: 500;
    //     color: #FFF;
    //     text-decoration: none;
    //     text-transform: capitalize;
    //     transition: all .1s ease-in-out;
    // }

    // .link i {
    //     padding-left: 7px;
    // }

    // .link:hover {
    //     text-decoration: underline;
    //     background-color: black;
    // }
}

@media only screen and (min-device-width: 991px)  {
    .mid-card{
        margin-left: 38%;
    }
}
/* Tab */
@media only screen and (min-device-width: 768px) and (max-device-width: 991px)  {
    .courseRequest {
        .features{
            left: 24%;
        }
    }
    .monthly-package{
        position: relative;
        .monthly-card{
            min-height: 830px!important;
        }
        .price_product{
            position: absolute !important;
            bottom: 15% !important;
            left: 30% !important;
            font-size: 15px;
        }
    }

}

/* Pc small */
@media only screen and (min-device-width: 992px) and (max-device-width: 1199px)  {
    .monthly-package{
        .monthly-card{
            position: relative;
            min-height: 900px!important;
        }
    }

    .courseRequest{
        .features{
            left: 0%;
        }
        .card_title{
            font-size: 14px;
        }
        hr {
            position: absolute;
            height: 2px;
            width: 70%;
            top: 30%;
            left: 15%;
        }
    }

}

@media only screen and (min-device-width: 425px) and (max-device-width: 767px) {
    .courseRequest{
        .features{
            left: 30%;
        }
    }
}

@media only screen and (max-width: 425px) {
    .monthly-package{
        .monthly-card{
            position: relative;
            min-height: 900px!important;
        }
    }
    .courseRequest{
        .card {
            padding: 30px;
        }

        .card_title {
            font-size: 24px;
            margin-bottom: 12px;
        }

        .pricing {
            font-size: 52px;
        }

        // hr {
        //     margin-top: 50px;
        // }

        a.cta_btn {
            font-size: 11px;
        }
        .features{
            left: 19%;
        }
    }
    .post_box{
        min-height: 540px;
        position: relative;
        .button{
            position: absolute;
            bottom: 4%;
            left: 36%;
        }
        .entry-des{
            min-height: 170px;
        }
    }
}