/* CSS */
.btn-admin {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #44215b;
  background-image: linear-gradient(45deg, #120a17 0%, #3e3d3f 51%, #1d0f35 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-admin:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-admin:active {
  transform: scale(0.95);
}

.admin-footer {
  background: #233242;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  position: absolute;
}

.page-wrapper {
  background: #f2f0f0 !important;
}

.page-breadcrumb {
  padding: 15px 20px 15px 20px;
  background: #f5f5f5;
}

.admin-about-textarea {
  min-height: 200px !important;
}

.btn {
  color: #ffffff;
}

.btn-primary:hover {
  color: #233242 !important;
  background: #137eff;
}

.mar {
  margin-bottom: 150px;
}